/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: auto !important;
}

.logo-medium {
  text-align: center;
}

.actions-row {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
}